
*{ box-sizing: border-box;
  margin: auto;
  padding: 0;
  width:100%;
  }

header  {
  font-family:'Times New Roman', Times, serif;
  font-size: auto px;
	padding: 10px;
  font-weight: bold;
  text-align: center;
  height: none;
  background-color: #74E291;
  margin-top: 0.2em;
  background-image:url("lettuef.jpg");
  
  background-position:center;
  color:#211C6A;
}
h1  {font-size: 30px;
color: none;
text-align: center;
margin-top: 0.2em ;
}

h2 {
  text-align: center;
}
hr {
  color: rgb(50, 207, 228);
}

body 	{ 
  margin: 0;
  width: auto;
  height: auto;
  background-color:rgb(195, 226, 154);
  background-image: url("onion.jpg");
  font-family: Verdana, Arial, sans-serif;
  margin-left: 0.10em;
  margin: right 5px;
  
}

nav	a	{  
  text-indent: none;
  color: #211C6A;
  font-size: 1.0em;
  font-family:'Times New Roman', Times, serif;
  text-shadow:1.75 em;
  padding:10px;
  
}
nav a:hover { color:#d814ee;
  text-decoration: underline; }

nav {
  background-color:#aadbdb;
  word-spacing:normal;
  font-size:normal;
  line-height:35px;
  font-size:x-large;
  text-align: center;
}
li{
  padding: 10px;
}
main{
  margin: 0 auto;
  font-family:'Times New Roman', Times, serif;
  
  padding: 1px 1px;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

/*article{
  margin-bottom: 2px;
  background-color: none;
  border-radius: 5px;
  padding:20px
}*/

p {
  
  text-align: center;
}
img{
  text-align: auto;
 
}
/*section{
 justify-content: center;
 text-align: center; 
}*/
/* <!--.div{
width: 150px;
height: 50px;
background-color: yellow;
padding:20px; margin: 1px; border: 1px solid #000033; } --> */

 input{
  height: 25px;
  width: 90px;
 }
 #inputSearch{
  float: right;
  font-size: 0.9 em;
 }
#submitSearch{
  float: right;
  font-size: 0.9 em;
  height: 25px;
  width: 90px;
}

div {
  border: #0d0d0c ;
  background-color: #56ccc2;
  display: flex;
  align-items: center;
  padding: 1em;
  margin-right: 5px;
  margin-left: 5px;
}

.div1{
  color:black ;

}
.div2{
  color: black;
}
.div3{
  color: black;
}
.div4{
  background-color: #6fc3a5;
  color: #121312 ;
}
.div5{
  background-color: #121210;
  color: #74E291 ;
}
 section{
  display: flex;
  align-items: center;
  justify-content: space-around;
 }
footer  {
  color:blue;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  background-color:#74E291;
  padding:20px;
  text-align: center;
 
}